body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    /* background: #1d1d1d; */
  }

  .quote {
    font-family: helvetica; 
    font-weight: 200;
    font-size: 12vw;
    text-transform: uppercase;
    text-decoration-color: chocolate;
  }  

  h1{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: darkblue;
    align-items: center;
    align-content: center;
    font-size: 25px;
  }


.box{
    background-color: greenyellow;
    height: 300px;
    width: 400px;
    border-radius: 15px;
    margin: 30px;
   

}

h2{
    color: red;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}